@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pilonyc";
  src: url("/fonts/Pilonyc\ REGULAR.otf");
}

.pilonyc {
  font-family: "Pilonyc";
}

.lato {
  font-family: "Lato", sans-serif;
}
