@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pilonyc";
  src: url("/fonts/Pilonyc\ REGULAR.otf");
}

body {
  overflow-x: hidden;
}

.pilonyc {
  font-family: "Pilonyc";
}

.lato {
  font-family: "Lato", sans-serif;
}

input[type="range"] {
  -webkit-appearance: none;
  height: 3px;
  background-color: transparent;
  border-radius: 10px;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  transform: translateY(-5px);
  width: 10px;
  height: 10px;
  background-color: #0a4148;
  border-radius: 50%;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background-color: #0a4148;
  cursor: pointer;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #333;
  cursor: pointer;
  border-radius: 50%;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 3px;
  background-color: #0a4148;
  border-radius: 10px;
}

input[type="range"]::-moz-range-track {
  height: 3px;
  background-color: #0a4148;
  border-radius: 10px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 2px #0a4148;
}

input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 0 0 0 2px #0a4148;
}

.react-multi-carousel-list,
.carousel-container,
.react-multi-carousel-track {
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 50px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-image: linear-gradient(to bottom, #02040c, #0a4148);
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] {
  display: inline-block !important;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.carousel-item {
  width: 100% !important;
}

input:not([type="checkbox"]){
  border: none!important;
  border-bottom: 1px solid white !important;
}

input:not([type="checkbox"]):focus {
  outline: none!important;
  border: none!important;
  border-bottom: 1px solid white !important;
  box-shadow: 0 0 0 transparent !important;
}